@page
@model HealthWatch360.Pages.ExerciseExamples.GolfSwingDrillsModel
@{
    ViewData["Title"] = "Golf Swing Drills";
}
<h1>@ViewData["Title"]</h1>

<section class="content-section">
    <h2>Golf Swing Drills with Video Tutorials</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Drill</th>
                <th>Video Tutorial</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>One-Handed Swing Drill</td>
                <td><a href="https://www.youtube.com/watch?v=9PbIlqohM5o" target="_blank">One-Handed Golf Swing Drill</a></td>
            </tr>
            <tr>
                <td>Slow Motion Swing Drill</td>
                <td><a href="https://www.youtube.com/watch?v=XIzAJoduqg0" target="_blank">Slow Motion Golf Swing Drill</a></td>
            </tr>
            <tr>
                <td>Wall Drill for Proper Rotation</td>
                <td><a href="https://www.youtube.com/watch?v=xzvtN-0dRI4" target="_blank">Wall Drill for Better Rotation</a></td>
            </tr>
            <tr>
                <td>Feet Together Drill</td>
                <td><a href="https://www.youtube.com/watch?v=0lhtR2Qqhlg" target="_blank">Feet Together Golf Swing Drill</a></td>
            </tr>
            <tr>
                <td>One-Piece Takeaway Drill</td>
                <td><a href="https://www.youtube.com/watch?v=INFoxBEZFs4" target="_blank">One-Piece Takeaway Drill</a></td>
            </tr>
        </tbody>
    </table>
</section>

<a href="/Reports" class="btn btn-primary mt-4">Back to Reports</a>


