@page
@model HealthWatch360.Pages.ExerciseExamples.LapSwimmingModel
@{
    ViewData["Title"] = "Lap Swimming Exercises";
}
<h1>@ViewData["Title"]</h1>

<section class="content-section">
    <h2>Lap Swimming Drills with Video Tutorials</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Swimming Drills</th>
                <th>Video Tutorial</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Freestyle Stroke Technique</td>
                <td><a href="https://www.youtube.com/watch?v=5HLW2AI1Ink" target="_blank">Freestyle Stroke Basics</a></td>
            </tr>
            <tr>
                <td>Flip Turns</td>
                <td><a href="https://www.youtube.com/watch?v=Se1j7U8EI2o" target="_blank">How to Do a Flip Turn</a></td>
            </tr>
            <tr>
                <td>Breaststroke Drills</td>
                <td><a href="https://www.youtube.com/watch?v=mFFxTuaMpDQ" target="_blank">Improving Breaststroke</a></td>
            </tr>
            <tr>
                <td>Butterfly Stroke Tips</td>
                <td><a href="https://www.youtube.com/watch?v=UffZn_-lU54" target="_blank">Butterfly Stroke Drill</a></td>
            </tr>
            <tr>
                <td>Backstroke Technique</td>
                <td><a href="https://www.youtube.com/watch?v=89HxafulzyI" target="_blank">Mastering Backstroke</a></td>
            </tr>
        </tbody>
    </table>
</section>

<a href="/Exercise" class="btn btn-primary mt-4">Back to Facility Finder</a>
