@page
@model HealthWatch360.Pages.ExerciseExamples.YogaModel
@{
    ViewData["Title"] = "Yoga Guide";
}
<h1>@ViewData["Title"]</h1>

<section class="content-section">
    <h2>Yoga Poses with Video Tutorials</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Yoga Poses</th>
                <th>Video Tutorial</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Downward Dog</td>
                <td><a href="https://www.youtube.com/watch?v=EC7RGJ975iM" target="_blank">How to Do Downward Dog</a></td>
            </tr>
            <tr>
                <td>Tree Pose</td>
                <td><a href="https://www.youtube.com/watch?v=Fr5kiIygm0c" target="_blank">Mastering Tree Pose</a></td>
            </tr>
            <tr>
                <td>Warrior I</td>
                <td><a href="https://www.youtube.com/watch?v=NytDpa2r34g" target="_blank">Warrior I Pose Tutorial</a></td>
            </tr>
            <tr>
                <td>Child’s Pose</td>
                <td><a href="https://www.youtube.com/watch?v=2MJGg-dUKh0" target="_blank">How to Do Child's Pose</a></td>
            </tr>
            <tr>
                <td>Cobra Pose</td>
                <td><a href="https://www.youtube.com/watch?v=JDcdhTuycOI" target="_blank">Cobra Pose Technique</a></td>
            </tr>
        </tbody>
    </table>
</section>

<a href="/" class="btn btn-primary mt-4">Back to Facility Finder</a>
