@page
@model HealthWatch360.Pages.HealthReports.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HealthReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HealthReport.HealthReportID" />
            <div class="form-group">
                <label asp-for="HealthReport.StartDate" class="control-label"></label>
                <input asp-for="HealthReport.StartDate" class="form-control" />
                <span asp-validation-for="HealthReport.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthReport.EndDate" class="control-label"></label>
                <input asp-for="HealthReport.EndDate" class="form-control" />
                <span asp-validation-for="HealthReport.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthReport.HealthDataSummary" class="control-label"></label>
                <input asp-for="HealthReport.HealthDataSummary" class="form-control" />
                <span asp-validation-for="HealthReport.HealthDataSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthReport.GoalSummary" class="control-label"></label>
                <input asp-for="HealthReport.GoalSummary" class="form-control" />
                <span asp-validation-for="HealthReport.GoalSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthReport.RecommmendationSummary" class="control-label"></label>
                <input asp-for="HealthReport.RecommmendationSummary" class="form-control" />
                <span asp-validation-for="HealthReport.RecommmendationSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
