################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HealthWatch360/obj/Release/net8.0
/HealthWatch360/obj
