@page
@model HealthWatch360.Pages.BooksMindliftModel
@{
}
<h1>Search for Books</h1>

<form method="get">
    <input type="text" asp-for="SearchQuery" placeholder="Enter book title or author" />
    <button type="submit">Search</button>
</form>

@if (Model.BookResults != null && Model.BookResults.Any())
{
    <h3>Books Reviews from Mindlift:</h3>
    <ul>
        @foreach (var book in Model.BookResults)
        {
            <li>
                @book.BookTitle
                <p>@book.BookReview</p>
            </li>
        }
    </ul>
}
else if (!string.IsNullOrEmpty(Model.SearchQuery))
{
    <p>No books found for "@Model.SearchQuery".</p>
}