@page
@model HealthWatch360.Pages.ExerciseModel
@{
    ViewData["Title"] = "Excercise Page";
}
<h1>@ViewData["Title"]</h1>

<p>Track your schedule and fitness goals here!</p>
<h5>Insert your schedule below:</h5>
<script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
<div class="commonninja_component pid-d6443234-a9ad-403e-a7e9-e8ae9ea49790"></div>