@page
@model HealthWatch360.Pages.MedicalInfoModel
@{
    ViewData["Title"] = "Medicine Information";
}

<h2>Product Type Counts</h2>

@if (Model.ProductTypeCounts != null)
{
    <ul>
        @foreach (var item in Model.ProductTypeCounts)
        {
            <li>
                <strong>Product Type:</strong> @item.Term<br />
                <strong>Count:</strong> @item.Count
            </li>
        }
    </ul>
}
else
{
    <p>No data available.</p>
}
